body {
  text-align: center;
}

ul {
    list-style-type: none;
    background: #c5e9da;
    padding: 20px;
}

li {
    background: #e7f6f0;
    margin: 5px;
}
/* .column {
  display:grid;
  flex-wrap: wrap;
  padding: 0 4px;
} */
  .column {
      float: left;
      width: 36.33%;
      margin-left: 100px;
      margin-right: auto;
  }

  /* Clear floats after the columns */
  .row:after {
      content: "";
      display: table;
      clear: both;
  }
