<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1> Get to know Kate</h1>
    <strong>
      <%= question %>
    </strong>
    <br />
    <%= answer %>

    <br />
    <a href="/">Back</a>

  </body>
</html>
